### Q1
List the basic data types in python and give one example each.

In [ ]:
integer #[age = 45]
float   #[price = 25.64]
boolean #[45> 5]
strings #[name = "Adjoa"]

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [1]:
x =4539.85

In [2]:
y = str(x)

In [3]:
z = int(x)

In [5]:
type(y)

str

In [6]:
type(z)

int

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student

k. The total number of vote cast

In [ ]:
a. Float
b. integer
c. string
d. float
e. Integer
f. float
g. Boolean
i. String
j. float
k. integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [9]:
statement = "Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team"

In [21]:
statement[0:60]

'Thomas Partey is arguably the best player in the Black Stars'

In [22]:
statement_1 = statement[0:60]

In [28]:
statement_1

'Thomas Partey is arguably the best player in the Black Stars'

In [25]:
statement[62:97]

'He is a great addition to the team'

In [26]:
statement_2 = statement[62:97]

In [27]:
statement_2

'He is a great addition to the team'

In [29]:
len(statement_1)

60

In [30]:
len(statement_2)

34

In [31]:
len(statement_1)>len(statement_2)

True

### Q5
What values does python use to represent **True** and **False** respectively?

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [33]:
# number 1
78>46<30

False

In [ ]:
#number 2
8-2

In [35]:
len("boostrap")

8

In [36]:
len("sample")

6

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [42]:
word='Hello, How are you?'

In [44]:
word[7:10]

'How'

In [46]:
word[7:19]

'How are you?'

In [51]:
word[11:14]

'are'

In [55]:
word[18:19]

'?'

In [56]:
word[0:19]

'Hello, How are you?'

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [57]:
sentence = "I am very excited"

In [58]:
sentence.upper()

'I AM VERY EXCITED'

In [59]:
sentence.lower()

'i am very excited'

In [60]:
sentence.title()

'I Am Very Excited'

In [62]:
str(sentence)

'I am very excited'

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [63]:
word = 'OneThirtyEight'

In [64]:
word[0:3]

'One'

In [66]:
word[3:9]

'Thirty'

In [68]:
word[9:14]

'Eight'

In [70]:
word[0:9]

'OneThirty'

In [73]:
word[3:14]

'ThirtyEight'

In [76]:
word[0:14].upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [78]:
str("Ault'Kelly")

"Ault'Kelly"

In [79]:
name = str("Ault'Kelly")

In [80]:
name

"Ault'Kelly"